


.App{
    text-align: center;
  }


header {
font-size: 1.5rem;
}
body{
  background-image: linear-gradient(120deg, #09e6eeec, #038af8);
  color: white;
  min-height: 100vh;
}

header, form{
  min-height: 20vh;
  justify-content:unset;
  align-items: center;
}
form input, form button {
  align-content: center;
  padding: 0.5rem;
  font-size-adjust: 2rem;
  border: none;
  background: white;
}

form select{
  margin-left: 30px;
}
.credit {
  position:absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  color: white;
  font-size: medium;
}

.submitBtn {
  background-color: rgb(0, 4, 255);
  color:  #09e6eeec;
}


.todo-item{ 
  border: 2px solid; 
  padding: 0.5rem;
  background-color: white;
  display: block;

}
.bar{
  margin: 20px;
}

.todo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(0, 4, 255);
  


}
.completed{
border: 2px solid; 
padding: 0.5rem;
background-color: white;
display: block;
text-decoration: line-through;
opacity: 0.5;
  
}


